body {
    background-color: #ddd;
    color: #222;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: Helvetica; /* not relevant for android */
    padding-top: 50px;
    padding-bottom: 50px;
}

.mainFixture {
    margin: 10px;
    padding: 0;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar-nav.nav-justified > li {
    float: none;
}

.listView {
    list-style: none;
    padding: 0;
}

.listViewRow {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    /*display: block;*/
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

    .listViewRow.selected {
        background-color: #772953;
        color: #ffffff;
    }

    .listViewRow span {
        width: 60px;
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;
    }

/*.pitch {
}

    .pitch .row {
        text-align: center;
        margin-right: -25px;
        margin-left: -25px;
    }

        .pitch .row > div {
            height: 70px;
            font-size: 10px;
        }

            .pitch .row > div span {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                bottom: 10px;
            }

    .pitch img {
        height: 60px;
        padding-left: 10px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 14px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }*/
