<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--<system.serviceModel>
    <services>
      <service behaviorConfiguration="UsersServiceBehaviour" name="Jumpers.Services.UserService">
        <endpoint address="" 
                  contract="Jumpers.Services.IUserService" 
                  binding="webHttpBinding" 
                  behaviorConfiguration="RestBehavior"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UsersServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>-->
<!--<system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false"
        logMessagesAtTransportLevel="false" />
    </diagnostics>
    <behaviors>
        <endpointBehaviors>
            <behavior name="JumpersForGoalposts.Web.Services.UserServiceAspNetAjaxBehavior">
                <enableWebScript />
            </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
            <behavior name="">
                <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                <serviceDebug includeExceptionDetailInFaults="false" />
            </behavior>
        </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true">
        <serviceActivations>
            <add relativeAddress="Services/UserService.svc" service="Jumpers.Services.UserService"
                factory="System.ServiceModel.Activation.WebServiceHostFactory" />
        </serviceActivations>
    </serviceHostingEnvironment>
    <services>
        <service name="Jumpers.Services.UserService">
            <endpoint address="" binding="webHttpBinding" contract="Jumpers.Services.IUserService" />
        </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="" maxReceivedMessageSize="2500000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows" />
          </security>
        </binding>
        <binding name="Https">
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows" />
          </security>
        </binding>
        <binding name="2">
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>-->
</configuration>
